/* Import the repo custom styles from the @convergence/tailwind package */
@import "@convergence/tailwind-config/globals.css";

/* Import the convergence theme */
@import "@convergence/tailwind-config/themes/convergence.css";
